body {
    margin: 0;
    background-color: black;
    font-family: sans-serif;
}

.bg-img {
    position: relative;
    background-image: url(imgnet/NG-en-20240226-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 1;
    height: 120vh;

}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);

}

.logo-box {
    padding: 2% 10%;
}


.logo {
    width: 13rem;
    height: 5rem;
    z-index: 1;
    cursor: pointer;
    filter: brightness(1);
    color: red !important;
}



.glass-content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 4rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    text-align: center;
    width: 25vw;
}

.glass-content h1 {
    color: white;
    font-size: 5vh;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;

}

input {
    width: 100%;
    background: transparent;
    height: 3rem;
    border: 1px solid gray;
    border-style: double;
    border-radius: 5px;
    color: #ccc;
    font-size: 1rem;
    margin: .6rem 0;
}

::placeholder {
    padding-left: 1rem;
    font-size: 1rem;
    color: #ccc;
}

.signin-input {
    background: red;
    color: white;
    border: none;
    width: 100%;
    height: 3rem;
    border-radius: 5px !important;
    font-size: 1rem;
    margin: .6rem 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-input:hover {
    background-color: rgb(202, 5, 5);
}

.signin-input a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    z-index: 1;
}

.section-two p {
    color: white;
}

.Code {
    background-color: transparent;
    position: relative;
    border-radius: 5px !important;
}

.Code:hover {
    background-color: #232323;

}

.Code::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(165, 164, 164, 0.25);
}

.button-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.button {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: #232323;

}

.button:hover {
    background-color: #232323;
}

.section-three {
    display: flex;
    justify-content: space-between;
    padding: 10% 10% 5%;
    align-items: center;

}

.div-one {
    display: flex;
    flex-direction: column;
}

.section-three a {
    color: #ccc;
    padding: 10% 0;
}

select {
    padding: 7px 2rem;
    background-color: #0F0F0F;
    color: #fff;
    border-radius: 10px;
    border: 4px solid #fff;
    border-style: double;
    border-width: 5px;
    font-size: 1rem;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.small-screen{
    display: none;
}

 


@media  (max-width: 576.98px){
.bg-img {
   background: none;
   display: none;
}
.bg-img::before {
    display: none;
    
}

.small-screen {
    display: block;
    visibility: visible;
}

.section-two {
    display: none;
}

.glass-content {
    display: none;
}

.logo-box {
    padding: 5%;
}

.logo {
    width: 7.5rem;
    height: 5rem;
    z-index: 1;
    cursor: pointer;
    filter:none;
    color: red !important;
}

.headig-one {
    color: white;
    font-size: 1.8rem;
}

/* input {
    height: 2.5rem;
} */
.sections {
    padding: 0% 5%;
}

.section-three {
    display: none;
}
.two-div {
    display: flex;
}

.div-one {
    margin: 7rem 0 0rem;
    padding: 5%;
    border-top: 1px solid gray;
    border-width: 100%;
}

.div-one a {
    color: gray;
    margin: 1rem 0;
    font-size: .8rem;
}

select {
    padding: 7px 1rem;
}
}




@media (min-width: 576px) and (max-width: 767.98px){

}